@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Roboto-Slab';
  src: url(../public/assets/fonts/roboto-slab.regular.ttf);
}

@font-face {
  font-family: 'Open-sans';
  src: url(../public/assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open-sans-italic';
  src: url(../public/assets/fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: 'Roboto-condensed';
  src: url(../public/assets/fonts/RobotoCondensed-Regular.ttf);
}

@tailwind utilities;
@tailwind variants;
